
<div class="center-container">
 <div class="login-container">
    <div class="input-wrapper">
      <i class="fas fa-envelope input-icon"></i>
      <input type="email" class="input-field" placeholder="E-post">
    </div>
    <div class="input-wrapper">
      <i class="fas fa-lock input-icon"></i>
      <input type="password" class="input-field" placeholder="Lösenord">
    </div>
    <button (click)="login()" class="login-btn">Logga in</button>
    <div class="forgot-password">Glömt lösenord?</div>
   </div>
</div>
