
<div class="overlay">
    <div class="logout-container">
        <a class="logout-link" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logga ut
        </a>
    </div>
    <div class="centered-content">
        
        <div class="rounded-rectangle">
            <h1>Hej {{token}}! Välj datum för att boka parkering</h1>
        </div>
        <div class="container">
        <div class="calendar">
            <div class="month">
                <span class="arrow" (click)="goToPreviousMonth()">&lt;</span>
                <span class="month-text">{{ getMonth() }}</span>
                <span class="arrow" (click)="goToNextMonth()">&gt;</span>
            </div>
            <div class="days">
                <div class="day-label">M</div>
                <div class="day-label">T</div>
                <div class="day-label">O</div>
                <div class="day-label">T</div>
                <div class="day-label">F</div>
                <div class="day-label">L</div>
                <div class="day-label">S</div>
                <!-- Calendar dates go here -->
                <div class="day-container visible" *ngFor="let day of daysInMonth; let i = index" 
                     (click)="day.isBookable ? selectDay(day.date) : null" 
                     [ngClass]="{'selected-day': isSelectedDate(day.date),
                                 'not-selectable': day.isFull && !day.isPast,
                                 'selectable': day.isBookable && !day.isFull && !day.isPast,
                                 'past-day': day.isPast || (day.isPast && day.isFull)}">
                    <label for="day-{{i}}" class="day-number">{{ day.date }}</label>
                </div>
        </div>
    </div>
    <div class="header">
        <button *ngFor="let parking of parkings" [class.button-disabled]="parking.isDisabled" 
        (click)="selectParking(parking.parkingNumber)" class="selected" 
        [ngClass]="{ 'active': isSelectedParking(parking.parkingNumber)}">
            {{parking.parkingNumber}}
        </button>
        <div class="legend">
            <span class="dot available"></span> Lediga
        </div>
    </div>
        <div class="employee-list">
            <table class="fixed-height-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Namn</th>
                        <th>Parkering</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ booking.employee.name }}</td>
                        <td>{{ booking.parking.parkingNumber }}</td>
                        <td>{{ booking.date | date: 'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="book-btn" (click)="bookParking()">Boka parkering för den valda dagen</button>
    </div>
 </div>
 </div>