.overlay {
    position: fixed; /* Eller 'absolute' beroende på din layout */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Svart med transparens */
    backdrop-filter: blur(5px); /* Suddighetseffekt */
    z-index: 1; /* Se till att den ligger över andra element */
    display: flex; /* Använd flexbox för att centrera innehållet */
    justify-content: center; /* Centrera horisontellt */
    align-items: center; /* Centrera vertikalt */
    /* sätt color till vit med transparans */
    color: rgba(255, 255, 255, 0.69);
    
    
}

.rounded-rectangle {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;   
    width: 80%; 
    font-style: bold;
    max-width: 600px;
}

.centered-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if there's enough space */
    width: 70%;
    
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    font-weight: bold;
    cursor: pointer;
}

.logout-link i {
    margin-right: 5px;
}

.container {
    background-color: rgba(85, 85, 85, 0.69);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    min-height: 800px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.parking-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Skapar utrymme mellan etiketten och knapparna */
    width: fit-content; /* Gör så att bredden anpassar sig efter innehållet */
}
.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Skapar utrymme mellan knapparna */
}

.parking-selection label {
    font-size: 16px;
    color: #fff; /* Eller vilken färg som passar din design */
    margin-bottom: 10px; /* Justeras om nödvändigt för att matcha design */
}

.btn {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn.active, .btn:hover {
    background-color: #ff4747; /* En mörkare nyans för aktiv/highlight eller hover */
}

.legend {
    display: flex;
    align-items: center;
}

.dot.available {
    height: 10px;
    width: 10px;
    background-color: #4CAF50; /* Green */
    border-radius: 50%;
    display: inline-block;
}

.legend .dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}



.past-day {
    background-color:#777; /* Grå bakgrund för förflutna dagar */
    color: #ffffffa6; /* Mörkare grå textfärg */
    cursor: pointer;
    border-radius: 50%; /* Gör background rounden så att den blir rund */
    pointer-events: none; /* Inaktivera klickhändelser */
}

.not-selectable:hover {
    background-color:#ff5757;
    transition: 0.3s;
}

.not-selectable {
    
    background-color:#ff6b6b;
    color: #ffffff; 
    cursor: pointer;
    border-radius: 50%; 
}


.selectable {
    cursor: pointer; 
    background-color: #6ce286; 
    color: black; 
    
    border-radius: 50%;
}

.selectable:hover {
    background-color: #4CAF50; /* En mörkare nyans för aktiv/highlight eller hover */
    transition: 0.3s;
}

.day-number {
    cursor: inherit; /* Överför inte muspekaren från föräldern */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px; /* Center the text vertically */
    /*background-color: var(--available-color, #ffffff);*/
}
.calendar {
    margin: 20px 0;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month .month-text {
    font-size: 24px;
}

.month .arrow {
    font-size: 24px;
    cursor: pointer;
}

.day-label {
    font-weight: bold;
    
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    justify-items: center;
    align-items: center;
    color: #fff;
}   

.book-btn:hover, .delete-btn:hover{
    background-color:#1fa724;
    transition: 0.3s;
}

.book-btn, .delete-btn {
    background-color:#4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin: 5px;
       
}



.selected.active {
    background-color: #1fa724; /* Grön bakgrund för vald parkeringsplats */
    color: white; /* Vit textfärg */
}

.selected.active.disabled, .selected.active.button-disabled {
    background-color: #cccccc; /* Grå färg för disabled */
    color: #666666; /* Mörkare grå textfärg */
    
    
}

.selected:hover {
    background-color: #1fa724; /* En mörkare nyans för aktiv/highlight eller hover */
    transition: 0.3s;
}

.selected {
    background-color: #4CAF50;
    color: white; /* Vit text */
    padding: 10px 20px; /* Inre marginal */
    border: none; /* Ingen kant */
    border-radius: 5px; /* Rundade hörn */
    cursor: pointer; /* Ändra muspekaren till en pekare */
    margin: 5px; /* Yttre marginal */
    transition: background-color 0.3s; /* Gör övergången mjuk */
  }

.button-disabled {
    background-color: #cccccc; /* Grå färg */
    color: #666666; /* Mörkare grå textfärg */
    /* Andra stilar som behövs för disabled utseende */
    cursor: not-allowed;
    pointer-events: none;
    
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.employee-list {
    margin: 20px 0;
}


.clickable-row{
    cursor: pointer;
}


.clickable-row td:after {
    content: "\2605"; /* Unicode-karaktär för en stjärna */
    display: inline-block;
    margin-right: 5px;
    color: #FFD700; /* Guldig färg för stjärnan */
}
.clickable-row td:hover {
    background-color: #999; /* Mörkare grå bakgrund för hover */
    transition: 0.3s; /* Gör övergången mjuk */
}
.selected-row td {
    background-color: #999 !important; /* Blå bakgrund för markerade rader */
  }
th {
    background-color: #666;
}

.fixed-height-table td {
    background-color: #777;
}

.fixed-height-table {
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    display: block;
}

.fixed-height-table table {
    table-layout: fixed;
    width: 100%;
}

.fixed-height-table th, .fixed-height-table td {
    width: 10%;
    padding: 10px;
    text-align: left;
    
}

/* Media query för skärmar mindre än 1200px */
@media (max-width: 1200px) {
    .container, .rounded-rectangle {
        width: 70%; /* Öka bredden för att fylla mer av skärmen */
        padding: 10px; /* Lägg till lite padding för att undvika att innehållet rör vid skärmkanterna */
    }

    .legend {
        font-size: 12px;
    }

    .days, .parking-selection, .buttons-row {
        
        align-items: center; /* Centrera elementen */
        gap: 5px; /* Minska gapet mellan elementen */
    }

    .btn {
        width: 90%; /* Gör knappar och dagnummer bredare för att fylla utrymmet bättre */
    }

    .day-number {
        width: 30px; /* Öka bredden på dagnumret för att göra det lättare att klicka på mindre skärmar */
        height: 30px;
        line-height: 30px; /* Centrera texten vertikalt */
    }
}

/* Media query för skärmar mindre än 768px (typiska telefonstorlekar) */
@media (max-width: 768px) {
    .container, .overlay, .rounded-rectangle, .centered-content {
        width: 100%; /* Använd hela skärmens bredd */
        margin: 0; /* Ta bort marginaler */
        padding: 5px; /* Minska padding */
        box-sizing: border-box; /* Inkludera padding i elementets totala bredd */
    }

    .day-number {
        width: 20px; /* Minska ytterligare för små skärmar */
        height: 20px;
        line-height: 20px; /* Anpassa line-height för att behålla texten centrerad */
        font-size: smaller; /* Minska textstorleken för att passa mindre skärmar */
    }

    .logout-container {
        top: 10px;
        right: 10px;
    }

    .day-label, .month .month-text, .month .arrow, .parking-selection label {
        font-size: smaller; /* Minska textstorleken för att passa mindre skärmar */
    }

    .days {
        width: 95%; /* Använd hela bredden för att passa skärmen */
        grid-template-columns: repeat(7, 14%); /* Justera dagarnas layout för att passa skärmen */
    }
}